/* Progression container */
.progression {
  margin-top: 1rem;
}

.level {
  margin-bottom: 1.5rem;
}

.level:last-child {
  margin-bottom: 0;
}

.levelRole {
  font-size: var(--font-l);
  font-weight: 600;
  color: var(--gray12);
  margin: 0 0 0.25rem 0;
}

.levelDate {
  font-size: var(--font-s);
  color: var(--gray10);
  margin: 0 0 0.5rem 0;
}

.responsibilities {
  margin: 0;
  padding-left: 1.25rem;
  list-style: disc;
}

.responsibilities li {
  font-size: var(--font-l);
  color: var(--gray11);
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.responsibilities li:last-child {
  margin-bottom: 0;
}

/* Mobile */
@media (max-width: 700px) {
  .levelRole {
    font-size: var(--font-m);
  }

  .responsibilities li {
    font-size: var(--font-m);
  }
}
