.container {
  width: 100%;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--linkContainerBg);
  border: 1px solid var(--linkContainerBorder);
  position: relative;
  display: block;
  overflow: hidden;
  transition:
    background-color 0.15s ease,
    border 0.15s ease;
}

.container:hover {
  background-color: var(--linkContainerBgHover);
  border: 1px solid var(--linkContainerBorderHover);
  cursor: pointer;
}

.container .externalIcon {
  opacity: 0;
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
}

.container:hover .externalIcon {
  opacity: 1;
}

.externalIcon {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: 3px;
  font-weight: 300;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
}

.image {
  border-radius: 6px 6px 0px 0px;
}

.type {
  margin-top: 0.5rem;
  font-size: var(--font-s);
  font-weight: 390;
  color: var(--gray9);
}

.outer {
  margin: 1rem 0rem 0rem;
  display: block;
  list-style: none;
}

.outer:first-child {
  margin-top: 0;
}
