.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  height: 2.75rem;
  width: 2.75rem;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0.5px solid transparent;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  background: var(--highlighthover);
}

.button:active {
  background: var(--highlighthover);
  transform: scaleX(0.985) scaleY(0.985) translateY(0.5px);
}

.button:focus-visible {
  outline: 2px solid var(--blue9);
  outline-offset: 2px;
}

.icon {
  width: 26px;
  height: 26px;
  color: var(--gray11);
  opacity: 0.75;
}
