.hero {
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle {
  color: var(--gray11);
  font-size: var(--font-l);
  line-height: 1.6;
  max-width: 400px;
  margin: 0 auto;
}

.contactSection {
  padding: 0 0.125rem;
}

@media (max-width: 700px) {
  .hero {
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: var(--font-m);
  }
}
